/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Body element backgrund color */
body {
    background-color: #d9dcd6;
}
/* Header class element properties: padding thickness, font, background color and font color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Header h1 class element properties: display property and font size */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Header h1 and seo class element properties: font color */
.header h1 .seo {
    color: #d9dcd6;
}
/* Header division/section class element properties: padding on top height, margin on the right, positioning of content - right, font family and size  */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Header division unordered list class element properties: marker property set to none */
.header div ul {
    list-style-type: none;
}
/* Header division list element properties: display properties and left margin value */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Hyperlink element properties: color and text decoration which is none */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Paragraph element properties: font size */
p {
    font-size: 16px;
}
/* Hero class element properties (central picture): height, width, and picture position values */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Float left element properties: float direction and margin area on the right side property value */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Float right element properties: float direction and margin area on the left side property value */
.float-right {
    float: right;
    margin-left: 25px;
}
/* Content class element properties: elemnt width, diplay property and margin area on the left property value */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Benefits class element properties: margin area on the right property value, padding width, clear property, float direction, width, height, font and background color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Consolidated; Listed class element properties: bottom margin property and font color*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Consolidated; Listed class element properties: bottom margin property and text alignement position */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Consolidated; Consolidated; Listed class element properties: display properties, margin properties, and max width limit*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Consolidated; Consolidated; Listed class element properties: bottom margin property, padding width, height, font, background color and font color */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Consolidated; Consolidated; Listed class element properties: element maximum height value*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}
/* Consolidated; Consolidated; Listed class element properties: bottom margin property and font size*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Footer class element properties: padding width, clear property, font and text alignement position */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Footer h2 class element properties: font size */
.footer h2 {
    font-size: 20px;
}
